/* ---------------- CSS RESET ----------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/*---------------//// MY CSS \\\\--------------- */


body {
  font-family: "Work Sans", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1.5px;
	background: #FF8645;
}

h1 {
	padding: 0 10px;
}

.button:hover {
	background: #4F9E67;
}

#projbar {
	font-weight: 500;
}

/*----------------- NAVIGATION ----------------- */

@media only screen and (min-width: 581px) {
#work {
	display: none;
}

	/* Left Side --------------- */
#navbar {
	width: 100vh;
	display: flex;
	align-items: flex-start;
	-webkit-box-pack: justify;
	justify-content: space-between;
	transform: rotate(-90deg) translateX(-99vh);
	transform-origin: left top;
	padding: 20px 20px 0 20px;
	position: fixed;
  z-index: 9999;
  top: 0;
}

#navlinks {
	display: flex;
	flex-direction: row;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 49%;
	text-align: right;
	padding-right: 10px;
}

#navlinks a, #navbar a {
	padding: 0 10px 2px;
	color: black;
	text-decoration: none;
}

/* Right Side --------------- */
#projbar {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
  position: fixed;
  width: 100vh;
  bottom: 0;
  right: 2.3em;
  transform: rotate(90deg);
	transform-origin: 100% 100%;
}

#projlinks {
	flex-direction: row;
	-webkit-box-pack: start;
	text-align: right;
	padding-left: 25px;
	padding-top: 10px;
}

#projlinks a {
	padding: 0 15px 2px;
	color: black;
	text-decoration: none;
}

#projlinks span:hover, #navbar span:hover  {
	border-bottom: 1px solid black;
}
}

/*------------------ CONTENT ------------------ */

@media only screen and (min-width: 901px) {
/* Container for all Project Info */
#contentcontainer {
  width: 600px;
  margin: 16vh auto;
  height: 66vh;
}


/* Project Image ------------- */
#imagecontainer {
  width: 100%;
  margin: auto;
  position: relative;
  display: inline-block;
}

/* NOTE: All image uploads need to be 4:3 ratio */
#imagediv {
  width: 100%;
  height: 400px;
  margin: 20px auto;
}

/* Fill container */
.primaryphoto {
  width: 100%;
	height: 100%;
	/* border: 1px solid black; */
}

/* Project Title  ------------ */
#titlediv {
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
	font-size: 40px;
}

/* Project Description -------- */
.descriptiondiv {
	text-align: center;
}

#descriptiondivwide {
	display: block;
}

#descriptiondivnarrow {
	display: none;
}

/* Project Skills ------------- */
#skilldiv {
  position: absolute;
  transform: rotate(90deg);
  transform-origin:100% 100%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -ms-transform-origin:100% 100%; /* IE 9 */
  -webkit-transform:rotate(90deg);
  -webkit-transform-origin: 100% 100%;
  z-index: 100;
  right: -20px;
  bottom: 20px;
  display: flex;
  width: 400px;
	justify-content: space-evenly;
}

/* Project Links (90deg Left) --- */
#linkdiv {
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	-ms-transform: rotate(-90deg); /* IE 9 */
  -ms-transform-origin: 0% 0%; /* IE 9 */
  -webkit-transform:rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
	left: -57px;
	bottom: -18px;
	display: flex;
	width: 400px;
	justify-content: space-between;
}

/* Link Buttons ----------------- */
#linkdiv a {
	text-decoration: none;
	color: black;
	padding: 10px;
	border: 1px solid black;
	width: 48%;
	text-align: center;
}

}








/*--------------- MEDIA QUERIES --------------- */
@media only screen and (max-width: 1350px) {
	body {
		background: #FF8645;
	}

	.button:hover {
		background: #4F9E67;
	}
}

@media only screen and (max-width: 1150px) {
	body {
		background: #4F9E67;
	}

	.button:hover {
		background: #6e92f5;
	}
}



/* TABLET AND SMALLER */
@media only screen and (max-width: 900px) {

body {
	background: #6e92f5;
}

.button:hover {
	background: #bcbcf8;
}

.button {
	margin: 0!important;
}

	/* Container for all Project Info */
#contentcontainer {
  width: 66%;
  margin: 16vh auto;
	height: 66vh;
	font-size: .85em;
}


/* Project Image ------------- */
#imagecontainer {
  width: 100%;
  margin: auto;
  position: relative;
  display: inline-block;
}

/* NOTE: All image uploads need to be 4:3 ratio */
#imagediv {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

/* Fill container */
.primaryphoto {
  width: 100%;
	height: 100%;
	/* border: 1px solid black; */
	padding: 0;
}

/* Project Title  ------------ */
#titlediv {
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
	font-size: 34px;
}

/* Project Description -------- */
.descriptiondiv {
	margin: 0 auto 20px;
	text-align: left;
	line-height: 1.2;
}

#descriptiondivwide {
	display: none;
}

/* Project Skills ------------- */
#skilldiv {
	margin: 20px auto;
  display: flex;
  width: 100%;
	justify-content: flex-start;
}

#skilldiv span {
	padding-right: 15px;
}

/* Project Links (90deg Left) --- */
#linkdiv {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 20px auto;
}

/* Link Buttons ----------------- */
#linkdiv a {
	text-decoration: none;
	color: black;
	padding: 10px;
	border: 1px solid black;
	width: 48%;
	text-align: center;
}
}











/* PHONE SIZE */
@media only screen and (max-width: 580px) {
	#about {
		display: none;
	}
	
	body {
		background: #bcbcf8;
	}

	.button:hover {
		background: #FF8645;
	}

  #navbar {
		width: 85%;
		margin: 20px auto;
		padding: 0;
		display: flex;
		align-items: flex-start;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}
	
	#navlinks {
		display: flex;
		flex-direction: row;
		-webkit-box-pack: end;
		justify-content: flex-end;
		/* width: 49%; */
		text-align: right;
	}
	
	#navbar a {
		color: black;
		text-decoration: none;
	}
	
	/* Right Side --------------- */
	#projbar {
		display: none;
	}

		/* Container for all Project Info */
#contentcontainer {
  width: 85%;
  margin: 85px auto;
  height: 66vh;
}


/* Project Image ------------- */
#imagecontainer {
  width: 100%;
  margin: auto;
  position: relative;
  display: inline-block;
}

/* NOTE: All image uploads need to be 4:3 ratio */
/* Displays as 582*388px */
#imagediv {
  height: auto;
}

.descriptiondiv {
	text-align: left;
	line-height: 1.2;
}








}
