/* ---------------- CSS RESET ----------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/*---------------//// MY CSS \\\\--------------- */

/* -------------Global---------------- */
html {
	height: 100vh;
}

body {
  font-family: "Work Sans", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1.5px;
	background: white;
	z-index: -1;
}

h1 {
	padding: 0 10px;
}


#color-square {
	height: 75%;
	width: 800px;
	margin: 100px auto;
	background: #FF8645;
	z-index: -2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}


.button:hover {
	background: rgba(255,255,255,0.8);
}

/*----------------- NAVIGATION ----------------- */

/* Main Navigation (Left Side) */
#navbar {
	display: flex;
	align-items: flex-start;
	-webkit-box-pack: justify;
	justify-content: space-between;
	font-weight: 500;
}

#navlinks {
	display: flex;
	flex-direction: row;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 49%;
	text-align: right;
	padding-right: 10px;
}

/* Project Navigation (Right Side) */
#projbar {
	font-weight: 500;
}

#projbar {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 15px;
	position: fixed;
	width: 100vh;
	bottom: 0;
	right: 45px;
	transform: rotate(90deg);
	transform-origin: 100% 100%;
}

#projlinks {
	padding-left: 10px;
	flex-direction: row;
	-webkit-box-pack: start;
	text-align: right;
}

#projlinks a {
	padding: 0 15px 2px;
	color: black;
	text-decoration: none;
}

#projlinks span:hover, #navbar span:hover  {
	border-bottom: 1px solid black;
}

#live-link, #github-link {
	display: none;
}

#navlinks a, #navbar a {
	font-weight: 500;
	color: black;
	text-decoration: none;
}

/*-------------- CONTENT --------------- */

#contentcontainer {
	margin: 16vh auto;
}

#imagecontainer {
	width: 100%;
	margin: auto;
	position: relative;
	display: inline-block;
}

#imagediv {
	height: auto;
	margin: 15px 0;
}

.primaryphoto {
	width: 100%;
	height: 100%;
}

#titlediv {
	text-align: center;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 40px;
}

#skilldiv, #linkdiv, #homepagelinkdiv {
	display: flex;
}

#linkdiv a, #homepagelinkdiv a {
	text-decoration: none;
	color: black;
	padding: 10px;
	border: 1px solid black;
	width: 48%;
	text-align: center;
}




/*------------- /// MEDIA QUERIES \\\ ------------- */
/* 
	1. Tablet and Greater (581px+)
	2. Computer Sized (Greater Than Tablet) (901px+)
	3. Smaller Than Tablet (Between Mobile and Tablet) (900px-)
	4. Mobile-Only (580px-)

*/

/* ---------- >TABLET ----------- */

@media only screen and (min-width: 581px) {

	#work {
		display: none;
	}

	#arrowbar {
		display: none!important;
	}

	#navbar {
		width: 100vh;
		transform: rotate(-90deg) translateX(-99vh);
		transform-origin: left top;
		padding: 15px;
		margin-top: 8px;
		position: fixed;
		z-index: 9999;
		top: 0;
	}

	#navlinks a, #navbar a {
		padding: 0 10px 2px;
	}
}




/* ------------- COMPUTER ------------- */

@media only screen and (min-width: 901px) {
	#contentcontainer {
		width: 600px;
		height: 60vh;
	}

	#imagediv {
		height: 400px;
	}

	.descriptiondiv {
		text-align: center;
	}

	#descriptiondivwide {
		display: block;
	}

	#descriptiondivnarrow {
		display: none;
	}

	#skilldiv {
		position: absolute;
		transform: rotate(90deg);
		transform-origin:100% 100%;
		-ms-transform: rotate(90deg); /* IE 9 */
		-ms-transform-origin:100% 100%; /* IE 9 */
		-webkit-transform:rotate(90deg);
		-webkit-transform-origin: 100% 100%;
		z-index: 100;
		right: -20px;
		bottom: 20px;
		display: flex;
		width: 400px;
		justify-content: space-evenly;
	}

	#linkdiv, #homepagelinkdiv {
		position: absolute;
		transform: rotate(-90deg);
		transform-origin: 0% 0%;
		-ms-transform: rotate(-90deg); /* IE 9 */
		-ms-transform-origin: 0% 0%; /* IE 9 */
		-webkit-transform:rotate(-90deg);
		-webkit-transform-origin: 0% 0%;
		left: -57px;
		bottom: -18px;
		display: flex;
		width: 400px;
		justify-content: space-between;
	}

}




/* -------------- <TABLET ------------ */

@media only screen and (max-width: 900px) {

.button {
	margin: 0!important;
}

#color-square {
	height: 80%;
	width: 80%;
	margin: 80px auto;
	display:none;
}

#contentcontainer {
  width: 70%;
	font-size: .85em;
	background: #FF8645;
	padding: 20px 30px;
}


#titlediv {
	font-size: 34px;
}

.descriptiondiv {
	margin: 0 auto 20px;
	text-align: left;
	line-height: 1.2;
}

#descriptiondivwide {
	display: none;
}

#skilldiv {
	margin: 20px auto;
  display: flex;
  width: 100%;
	justify-content: flex-start;
}

#skilldiv span {
	padding-right: 15px;
}

#linkdiv, #homepagelinkdiv {
	width: 100%;
	justify-content: space-between;
	margin: 20px auto;
}

#arrowbar {
	display: none;
}

}

/* ----------- MOBILE -------------- */

@media only screen and (max-width: 580px) {

	#about {
		display: none;
	}

	#color-square {
		height: 85vh;
		width: 90%;
		margin: 50px auto;
		display: none;
	}

	#navlinks {
		padding: 0;
	}

	#navbar {
		width: 90%;
		margin: 20px auto;
	}

	#navbar a {
		color: black;
		text-decoration: none;
	}
	
	#projbar {
		display: none;
	}

	#contentcontainer {
		width: 90%;
		margin: 20px auto;
		padding: 20px 10px 10px;
	}

	#imagecontainer {
		width: 95%;
		margin: 0 2.5%;
	}

	#imagediv {
		width: 100%;
		margin: 20px auto;
	}

	.descriptiondiv {
		margin: 15px 0;
	}

	#titlediv {
		font-size: 24px;
	}

	#linkdiv, #homepagelinkdiv {
		margin: 15px 0;
	}

	#skilldiv {
		margin: 15px 0;
	}

	#arrowbar {
		justify-content: space-between;
		display: none;
		margin: 0 auto;
		width: 90%;
	}

	#arrowbar a {
		text-decoration: none;
		color: black;
	}

	#leftarrow, #rightarrow {
		font-size: 30px;
		/* align-self: center; */
	}

	#moreprojects {
		align-self: center;
		font-size: .85em;
	}

}

